:root {
    --back:rgba(255, 255, 255, 0.9);
}

body {
    /* background:url(../img/2020.png); */
    background:black;
    
}

.mail {
    font-family: 'Times New Roman', Times, serif;
}

.kontakt-info, .hjemmeside-info, .info-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-info {
    font-size: 100px;
    text-align: center;
}

iframe {
    border: 2px solid black;
    width: 45vw;
}

main {
    min-height: 0;
}

.curve svg {
    transform: rotate(0deg);
}

.outer-content {
    position: relative;
}

.background {
    background: url(../img/kontaktbackdrop.jpg);
    background-repeat: repeat;
    position: absolute;
    top: -45vh;
    left: 0;
    background-size: cover;
    transform: scale(101%);
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: blur(2px);
}

.inner-content {
    position: relative;
    margin-top: 50vh;
}

.main-title, .afsnit-titel {
    font-size: 2.5rem;
}

.info {
    background: rgba(128, 128, 128, 0.5);
    padding: 5vh 10vw;
    margin: 2vh 15vw;
    border: 1px solid gray;
}

.container {
    background: var(--back);
    text-align: justify;
    padding: 30px 10vw;
}
.container-titel {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.margin {
    margin-top: 10vh;
}

.info-cont {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}

.content {
    letter-spacing:1.2px;
    width: 50%;
}

.kontakt-info a,  p, .hjemmeside-info a {
    font-size:1.6rem;
}

p {
    text-shadow: none;
    font-weight: 100;
    line-height: 35px;
    column-gap: 5vw;
    letter-spacing: 0.1vw;
    text-align: start;
}

.img-container {
    height: inherit;
    width: inherit;
}

.img-container img {
    width: inherit;
    height: inherit;
    border: 1px solid black;
    box-shadow: 0px 5px 5px black;
}

.link-container {
    display: flex;
}

.container-right,.container-left {
    /* border: 1px solid black; */
    width: 50%;
    height: 300px;
}

.large-title-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.titel-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    background:none;
    position: relative;
    width: 100%;
}

.titel-container div {
    font-size: clamp(1rem, 5vw, 2.4rem);
    letter-spacing: 0.2vw;
    text-align: center;
}

.curve{
    transform: translateY(0.4px) rotate(180deg);
    fill:var(--back);
}

.container-right, .container-left {
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: fit-content;
}
@media only screen and (max-width: 1060px) {
    
    p {
        line-height: 15px;
        column-count: 1;
        font-size: 1rem;
        letter-spacing: 0px;
    }
    .kontakt-info a, .hjemmeside-info a {
        font-size: 1rem;
    }
    .link-container {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 90vw;
    }
    .container-right {
        margin-bottom: 20vh;
    }
    
    .info-cont {
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
    }

    .img-container {
        width: 80vw;
        height: fit-content;
    }

    .content {
        width: 80%;
    }

    .info {
        margin: 0;
    }
}

iframe:nth-child(2) {
    width: 95vw;
}