:root {
    --back:rgba(255, 255, 255, 0.9);
}

body {
    /* background:url(../img/2020.png); */
    background:black;
}

iframe {
    /* border: 2px solid black; */
    border-radius: 10px;
    width: 45vw;
    margin-bottom: 20px;
}

.outer-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.background {
    background: url(../img/mainbackdrop.jpg);
    background-size: 100%;
    background-repeat: repeat;
    position: absolute;
    transform: scale(101%);
    height: 100%;
    width: 100vw;
    z-index: -1;
    
    filter: blur(2px);
}

.inner-content {
    min-height: fit-content;
    margin: 50vh 0vw 0 0 ;
    position: relative;
    padding: 0 10vw;
}

.main-title, .afsnit-titel {
    font-size: 2rem;
}

.container {
    /* background: var(--back); */
    height: fit-content;
    padding: 0 5vw;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.media, .info {
    padding: clamp(2em, 3vw, 500px);
}

.info p {
    /* background:rgba(128, 128, 128, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.75); */
    border-radius: 20px;
    line-height: 1.6em;
    font-size: 1.2rem;
    padding: clamp(10px, 2rem, 30px);
    /* max-width: 600px; */
}

.container-titel {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.margin {
    margin-top: 10vh;
}

.large-title-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.titel-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    background:none;
    position: relative;
    width: 100vw;
    padding:  5vh 0 0 0 ;
}

.titel-container div {
    /* font-size: clamp(1rem, 5vw, 2.4rem); */
    letter-spacing: 0.2vw;
    text-align: center;
}

.curve{
    fill:var(--back);
    position: relative;
}

.curve svg {
    position: absolute;
    bottom: 0;
}

.media-img {
    /* display: flex; */
    justify-content: end;
    /* width: 100%; */
    height: auto;
}

.image {
    height: clamp(350px, 33vw, 470px);
    /* height:33vw; */

}


p {
    text-shadow: none;
    font-size: 1rem;
    font-weight: 100;
    line-height: 35px;
    /* letter-spacing: 0.05vw; */
    /* word-spacing: 10px; */
}

@media only screen and (max-width: 1060px) {
    
    p {
        font-size: 0.6rem;
        font-weight: 100;
        line-height: 26px;
        text-align: start;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .media {
    margin: 0;
    display: flex;
    justify-content: center;
    }

    .info {
        padding: 20px 10px;
        
    }
    
    .container:nth-child(4) {
        flex-direction: column-reverse;
    }

    iframe, .info {
        width: 90vw;
    }
    
    iframe {
        height: 50vw;

    }

    .info p {
        text-align: start;
        font-size: 0.9rem;
    }

}
