:root {
    --back: rgba(255, 255, 255, 0.9);
}

body {
    background: black;
}

.outer-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.background {
    background: url(../img/backdrop-three.png);
    background-size: 100%;
    background-repeat: repeat;
    position: absolute;
    transform: scale(101%);
    background-position-y: -20vh;
    height: 100%;
    width: 100vw;
    z-index: -1;
    filter: blur(2px);
}

.inner-content {
    min-height: fit-content;
    margin: 25vh 0vw 0 0;
    padding: 20vh 20vw;
    padding-bottom: 0;
    position: relative;
}

.main-title,
.afsnit-titel {
    font-size: 3rem;
}

.container {
    background: var(--back);
    padding: 0;
    min-height: 150px;
}

.gamle-plakater {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    background: rgb(170, 170, 170);
    border: 2px solid black;
    box-shadow: inset 1px 1px 3px black;
}

.plakat-img {
    height: 200px;
    margin: 10px;
}

.plakat-img img {
    height: inherit;
    width: inherit;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: 0.3s;
}

.plakat-img img:hover {
    transform: scale(101%);
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.plakat-scroll {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.margin {
    margin-top: 10vh;
}

.titel-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    background: none;
    position: relative;
    width: 100vw;
    padding: 5vh 0 0 0;
}

.titel-container div {
    font-size: clamp(1rem, 5vw, 2.4rem);
    letter-spacing: 0.2vw;
    text-align: center;
}

.curve {
    fill: var(--back);
    position: relative;
}

.curve svg {
    position: absolute;
    bottom: 0;
}

.list {
    padding: 20px 10vw;
    height: clamp(1vh, fit-content, 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

p {
    text-shadow: none;
    font-size: 1rem;
    font-weight: 100;
    line-height: 35px;
    letter-spacing: 0.05vw;
    word-spacing: 10px;
}

.mangler {
    text-decoration: line-through;
}


.simple-shadow {
    border: 1px solid black;
    background: rgba(128, 128, 128, 0.5);
}

.cont1900,
.cont2000 {
    width: 50%;
    display: flex;
    flex-direction: column;

    padding: 2vw;
}

li {
    font-size: 1.2rem;
    margin: 0.6ch 2ch;
}

@media only screen and (max-width: 1060px) {
    .list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .gamle-plakater {
        justify-content: flex-start;
    }

    .cont1900,
    .cont2000 {
        width: 95%;
    }

    li {
        font-size: 0.8rem;
    }
}