:root {
	--back: rgba(255, 255, 255, 0.9);
}

body {
	/* background:url(../img/2020.png); */
	background: black;
}
main {
	margin-top: 100px;
}

iframe {
	/* border: 2px solid black; */
	width: 45vw;
	max-width: 650px;
	border-radius: 10px;
	/* box-shadow: 2px 2px 5px black; */
}

.outer-content {
	display: flex;
	justify-content: center;
	position: relative;
}

.background {
	background-repeat: repeat;
	position: absolute;
	transform: scale(101%);
	height: 100%;
	width: 100vw;
	z-index: -1;

	filter: blur(2px);
}

.inner-content {
	/* min-height: 200vh; */
	margin: 30vh 0vw 0 0;
	position: relative;
	width: 100%;
}

.main-title,
.afsnit-titel {
	font-size: 2.5rem;
}

.container {
	background: var(--slate-200);
	/* margin: 40px 30px; */
	/* border: 1px solid black; */
	text-align: justify;
	padding: 30px 5vw;
	padding-top: 10vh;
}
.container-titel {
	/* font-family: 'Fjalla one', sans-serif; */
	font-size: 2rem;
	text-align: center;
	color: var(--slate-700);
}

.margin {
	margin-top: 10vh;
}

.info-cont {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: flex-start;
	justify-content: center;
	gap: 5vw;
	height: fit-content;
}

.content {
	letter-spacing: 1.2px;
	width: 50%;
}

p {
	text-shadow: none;
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 35px;
	/* text-align: justify; */
}

.content p {
	padding: 2rem;

	background: var(--slate-200);
	border: 1px solid var(--slate-300);
	/* background: rgba(128, 128, 128, 0.5); */
	/* border: 1px solid rgba(128, 128, 128, 0.75); */
	/* box-shadow: 2px 2px 5px black; */
	padding: 1rem 2rem;

	/* background: rgba(128, 128, 128, 0.5); */
	background-color: var(--slate-100);
	border: 1px solid var(--slate-800);
	border-radius: 10px;
}

.img-container {
	height: 50vh;
	width: inherit;
}

.img-container img {
	width: inherit;
	height: inherit;
	border: 1px solid var(--slate-900);
	border-radius: 10px;
	box-shadow: 0px 5px 5px var(--slate-600);
}

.link-container {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.spotify-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-right,
.container-left {
	/* border: 1px solid black; */
	width: 50%;
	height: 300px;
}

.large-title-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.titel-container {
	display: flex;
	width: fit-content;
	justify-content: center;
	background: none;
	position: relative;
	width: 100%;
}

.titel-container div {
	font-size: clamp(1rem, 5vw, 2.4rem);
	letter-spacing: 0.2vw;
	text-align: center;
}

.curve {
	transform: translateY(0.4px) rotate(180deg);
	fill: var(--back);
}

.container-right,
.container-left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media only screen and (max-width: 1060px) {
	p {
		font-size: 0.8rem;
		line-height: 25px;
		column-count: 1;
	}
	.link-container {
		flex-direction: column;
		align-items: center;
	}

	iframe {
		width: 90vw;
	}
	.container-right {
		margin-bottom: 20vh;
		width: fit-content;
	}

	.info-cont {
		flex-direction: column;
		flex-wrap: wrap;
		height: fit-content;
		align-items: center;
	}

	.img-container {
		width: 80vw;
		height: fit-content;
	}

	.content {
		width: 90%;
	}
}

iframe:nth-child(2) {
	width: 95vw;
}
