:root {
    --back:rgba(255, 255, 255, 0.9);
}

body {
    /* background:url(../img/2020.png); */
    background:black;
    overflow: hidden;
}

iframe {
    border: 2px solid black;
    width: 45vw;
}

.outer-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.background {
    background: url(../img/2022\(1\).jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-position-y: -1100px;
    position: absolute;
    transform: scale(100%);
    height: 100%;
    width: 100vw;
    z-index: -1;

    filter: blur(2px);
}

.inner-content {
    /* min-height: 200vh; */
    margin: 30vh 0vw 0 0 ;
    position: relative;
}


.container {
    background: var(--back);
    /* margin: 40px 30px; */
    /* border: 1px solid black; */
    text-align: justify;
    padding: 30px 10vw;
    padding-top: 10vh;
}

.container-titel {
    font-family: 'Fjalla one', sans-serif;
    font-size: 2rem;

    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    letter-spacing: 0.15rem;
}

.margin {
    
    margin-top: 10vh;
}

.info-cont {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 1vw;
    /* padding: 0 5vw; */
    width: 80vw;
}

.content {
    position: relative;
    width: auto;

    letter-spacing:1.2px;

}


p {

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-weight: 100;
    text-shadow: none;
    line-height: 35px;
    
    
}

.p-brødtekst {
    height: fit-content;
    max-width: 40vw;
    
    padding: 2vh 3vw;

    background:rgba(128, 128, 128, 0.5);
    border: 1px solid rgba(128, 128, 128, 0.75);

}

.content-container img {
    height: 30vw;
    border:1px solid black;
}

.link-container {
    display: flex;
    justify-content: space-around;
}
.container-right,.container-left {
    /* border: 1px solid black; */
    width: 50%;
    height: 300px;
}

.large-title-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.titel-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    background:none;
    position: relative;
    width: 100%;
}

.titel-container div {
    font-size: clamp(1rem, 5vw, 2.4rem);
    letter-spacing: 0.2vw;
    text-align: center;
}

.curve{
    transform: translateY(0.4px) rotate(180deg);
    fill:var(--back);

}

.container-right, .container-left {
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: fit-content;
}
@media only screen and (max-width: 1060px) {
    p {
        line-height: 35px;
        column-count: 1;
        font-size: 1rem;
        text-align: justify;
        letter-spacing: 0px;
    }

    .p-brødtekst {
        max-width: 95vw;
    }

    .info-cont {
        margin: none; 
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        width: 100vw;
    }

    .info-cont img {
        width: 80vw;
        height: max-content;
    }

    .link-container {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 90vw;
    }
    .container-right {
        margin-bottom: 20vh;
    }
}

iframe:nth-child(2) {
    width: 95vw;
}
